body {
  background: url("https://static.vecteezy.com/ti/vetor-gratis/p1/13444879-ponto-de-interrogacao-sobre-fundo-branco-vetor.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Gabarito", sans-serif;
  margin: 20px;
}

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  width: auto;
}


.logo img {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Caixa principal do jogo */
.conteudo-jogo {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px #ff1b7b;
  margin: 20px;
  padding: 20px;
  height: 45vh;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.conteudo-jogo:hover {
  background: rgba(0, 0, 0);
  box-shadow: 0 0 5px #19caca;
}

/* Títulos e textos */
h2,
p {
  color: white;
}

h2 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  font-size: 3rem;
}

/* Estrutura do questionário */
.questionario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 70%;
  max-width: 70%;
}

/* Área de conteúdo */
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 20px;
}

/* Estilo da pergunta */
.pergunta {
  font-weight: 600;
  color: white;
}

/* Progresso da pergunta */
.progresso {
  text-align: end;
  font-size: small;
  font-weight: 500;
  color: white;
}

/* Área das respostas */
.respostas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Botões de resposta */
.botao-resposta {
  width: 100%;
  height: 2.5rem;
  text-align: start;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: #ff1b7b;
  color: white;
}

.botao-resposta:hover {
  background: #19caca;
  font-weight: 600;
}

/* Tela de fim do jogo */
.fim {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}

.fim span {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color: white;
}